!!! XML utf-16
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Bookler
    %link{ :href => "/print.css", :rel => "stylesheet", :type => "text/css"}
  %body
    #toc
      %ul
      -for chapter in @chapters
        -id= Digest::MD5.hexdigest(chapter['title'])
        %li
          -anchor='#'+id
          %h2
            %a(href=anchor) 
              = chapter['title']
    -for chapter in @chapters
    -id= Digest::MD5.hexdigest(chapter['title'])
      .chapter
        %h2
          %a(name=id)
            = chapter['title']
        %p 
          = chapter['content']