!!! 5
%html(lang="en")
	%head
		%title Bookler
		%link{:rel => 'stylesheet', :href => '../bootstrap.css', :type => "text/css"}
		%link{:rel => 'stylesheet', :href => '../launch.css', :type => "text/css"}

	%body
		.topbar
			.fill
				.container
					%a{:class => "brand", :href => ""}Bookler
					%ul(class="nav")
						%li
							%a(href = "/") Home
						%li(class="")
							%a(href = "/about") About
						%li(class="active")
							%a(href = "/books") Books
						%li
							%a(href = "mailto:felix@felixcohen.co.uk") Contact

		.container
			.content
				.page-header
					<h1>Bookler<small>&nbsp;some other people's books</small></h1>
				.row
					.span12.offset1
						%table
							- @books.each do |book|
								%tr
									%td
										%a{:href => "/book/#{book.id}" }
											= book.title
									%td
										=book.url
			%footer
				%p
					A 
					%a(href = "http://felixcohen.co.uk") Felix Cohen
					&
					%a(href = "http://www.dogwonder.co.uk") Rich Holman
					production.