!!! XML utf-16
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Create a book from your feeds
    %link{ :href => "http://localhost:4567/print.css", :rel => "stylesheet", :type => "text/css"}
  %body
    #toc
      -for chapter in @chapters
      -id= Digest::MD5.hexdigest(chapter['title'])
      -anchor='#'+id
        %h2
          %a(href=anchor) 
            = chapter['title']
    -for chapter in @chapters
    -id= Digest::MD5.hexdigest(chapter['title'])
      .chapter
        %a(name=id) 
        %p 
          = chapter['content']