!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Create a book from your feeds
    %link{ :href => "/print.css", :rel => "stylesheet", :type => "text/css"}
  %body
    #content
      .title
        %h1 What's your feed?
      %form{ :action => "/", :method => "post"}
        %p
        %h3 Feed URL
        %input{ :name => "feedurl", :type => "text", :id => "feedurl"}
        %h3 delicious username
        %input{ :name => "dname", :type => "text", :id => "dname"}
        %h3 Feed delicious pass
        %input{ :name => "dpass", :type => "text", :id => "dpass"}
        %p
        %input{ :type => "submit"}
          
        